@model User

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" href="~/css/basics.css">
    <link rel="stylesheet" href="~/css/index.css">
</head>
<body>
    <div class="wrapper">
        <div class="popup">
            <div class="popup__container">
                <h1 class="title">Авторизация @ViewData["Username"] </h1>
                <form method="post" asp-controller="Auth" asp-action="Check">
                    <div class="error-message">@ViewData["error"]</div>
                    <label asp-for="Id">Логин</label>
                    <input type="text" asp-for="Id" />
                    <span asp-validation-for="Id" class="error-message login"></span>

                    <label asp-for="Password">Пароль</label>
                    <input type="password" asp-for="Password" id="">
                    <span asp-validation-for="Password" class="error-message password"></span>

                    <input type="submit" value="Войти">
                </form>
            </div>
        </div>
    </div>
</body>
</html>